<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package Name="Always On Vpn Manager" Manufacturer="Rinrab"
           Version="$(var.Version)" UpgradeCode="5fe165a7-f2e7-4fca-8291-4e54e7e33715"
           Scope="perMachine" Compressed="yes">

    <WixVariable Id="WixUILicenseRtf"
                 Value="license.rtf" />

    <ui:WixUI Id="WixUI_Minimal" />

    <MediaTemplate EmbedCab="yes" />

    <MajorUpgrade AllowDowngrades="yes" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
    </StandardDirectory>

    <Feature Id="Main">
      <Component Directory="INSTALLFOLDER">
        <File Source="$(AOVpnManager.TargetPath)" Id="AOVpnManager.exe" />
      </Component>

      <Component Directory="INSTALLFOLDER">
        <File Source="$(var.AOVpnManager.TargetDir)\Microsoft.Diagnostics.Tracing.EventSource.dll" />
      </Component>

      <Component Directory="INSTALLFOLDER">
        <File Source="TaskConfig.xml" />

        <util:XmlFile File="[INSTALLFOLDER]TaskConfig.xml" Action="setValue"
                      ElementPath="//Task/Actions/Exec/Command" Value='"[#AOVpnManager.exe]"' />
      </Component>

      <Component Directory="INSTALLFOLDER">
        <File Id="etwManifest.dll"
              Source="$(var.AOVpnManager.TargetDir)\AOVpnManager.AOVpnManager.etwManifest.dll" />
      </Component>

      <Component Directory="INSTALLFOLDER">
        <File Id="etwManifest.man"
              Source="$(var.AOVpnManager.TargetDir)\AOVpnManager.AOVpnManager.etwManifest.man">
          <util:EventManifest MessageFile="[#etwManifest.dll]" ResourceFile="[#etwManifest.dll]" />
        </File>
      </Component>
    </Feature>

    <SetProperty Id="CreateTask" Before="CreateTask" Sequence="execute"
                 Value='"[%ComSpec]" /c schtasks.exe /Create /TN "AOVpn Manager Group Policy Update" /XML "[INSTALLFOLDER]TaskConfig.xml" /F' />

    <CustomAction Id="CreateTask" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
                  DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="check" />

    <SetProperty Id="DeleteTask" Before="DeleteTask" Sequence="execute"
                 Value='"[%ComSpec]" /c schtasks.exe /Delete /TN "AOVpn Manager Group Policy Update" /F' />

    <!-- Ignore exit code because task may be deleted by user. Maybe this is not the best solution. -->
    <CustomAction Id="DeleteTask" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
                  DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="ignore" />

    <InstallExecuteSequence>
      <Custom Action="CreateTask" After="PublishFeatures" Condition='NOT REMOVE'></Custom>
      <Custom Action="DeleteTask" Before="RemoveFiles" Condition="REMOVE"></Custom>
    </InstallExecuteSequence>

  </Package>
</Wix>
